---
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/globals.css"
const pageTitle = "About Page Title"
const identity = {
  name: "Bora",
  country: "Turkey",
  job: "Software Engineer",
  hobbies: ["reading", "swimming", "hiking"],
}
const skillColor = "navy"
---

<BaseLayout>
  <h2>About page</h2>
</BaseLayout>
